.App {
  text-align: center;
  height: 100vh;
}

.scrollable {
  height: 85vh;
  overflow-y: auto;
}

.timers-enter {
  opacity: 0.01;
}

.timers-enter.timers-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.timers-leave {
  opacity: 1;
}

.timers-leave.timers-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}